@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");

body {
  margin: 0;
  font-family: "Outfit", sans-serif !important;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.add {
  font-family: "Outfit", sans-serif;
}
